#search-icon {
  color: white;
}

body {
  background-image: url("./mosi-knife--PVgDgKXgZA-unsplash.jpg");
  background-size: cover;
}
.bg-orange {
  background-color: orange;
}

.bg-purple {
  background-color: purple;
}
