#search-icon {
  color: white;
}

body {
  /* background-image: url("./mosi-knife--PVgDgKXgZA-unsplash.jpg"); */
  background-image: linear-gradient(to right, #11bbdf, #a7bdec);
  background-size: cover;
}
.bg-orange {
  background-color: orange;
}

.bg-purple {
  background-color: purple;
}
